
body{
    color: whitesmoke;
    margin: 0,0;
    background-color: black;
    font-family: Star Jedi;
    background-image: url(https://images.wallpaperscraft.com/image/single/stars_space_dark_139528_1920x1080.jpg);
    background-repeat:none;
    background-size: cover

}

.title{
    color: #daa520;
    font-size: 250%;
    text-align: center;
}


.cards {
    margin-left: 400px;
    display: flex;
    margin-right: 100px;
}

.cards a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 150%;
    text-align: center;

}

a img{
    border-radius: 5px;
    display: flex;
    width: 350px;
    height: 450px;

}

.pvp {
    margin-left: 100px;
}

.ai{
    margin-left: 100px;
}