
body{
    color: whitesmoke;
    margin: 0,0;
    background-color: black;
    font-family: Star Jedi;
    background-image: url(https://images.wallpaperscraft.com/image/single/stars_space_dark_139528_1920x1080.jpg);
    background-repeat:none;
    background-size: cover

}

.title{
    color: #daa520;
    font-size: 250%;
    text-align: center;
}

.container{
    display: flex;
}

.cards {
    margin-left: 400px;
}

.cards a{
    position: fixed;
    text-decoration: none;
    color: whitesmoke;
    font-size: 150%;
    text-align: center;

}

a img{
    border-radius: 5px;
    display: flex;
    width: 350px;
    height: 450px;

}

.mount img{
   position: relative;   
}

.jxj {
    padding-left: 450px;
}

.jxj img{
   position: relative;   
}

.ai{
    padding-left: 900px;
}
.ai img{
    position: relative;
       
}