
body{
    color: whitesmoke;
    margin: 0,0;
    background-color: black;
    font-family: Star Jedi;
    background-image: url(https://images.wallpaperscraft.com/image/single/stars_space_dark_139528_1920x1080.jpg);
    background-repeat:none;
    background-size: cover

}

.title{
    color: #daa520;
    font-size: 250%;
    text-align: center;
}

.container{
    display: flex;
}

a{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
    text-decoration: none;
}