body{
    margin: 0, 0;
    background-color: black;
    background-image: url(https://wallpaper.dog/large/5549352.png);
}

.container{
    display: flex;
    flex-direction: row;

}

.titulo h1{
    padding-left: 50%;
    position: fixed;
    font-family: Star Jedi;
    color: #daa520;
}

a{  position: fixed;
    font-family: Star Jedi;
    padding-left: 300px;
    color: #daa520;
    font-size: 200%;
    text-decoration: none;
}

.fundo {
    position: absolute;
    border-radius: 20px;
    background-size: contain;
    background-color: #A9A9A9;
    background-repeat: repeat;
    height: 800px;
    width: 85%;
    margin-top: 80px;
    margin-left: 8%;

}

.shipLeft img{
    rotate: -20deg;
    position: fixed;
    height: 100px;
    width: 130px;    
}

.shipRight img{
    position: fixed;
    height: 100px;
    width: 100px;    
    padding-left: 94%;
}

.deathStar img{
    position: fixed;
    height: 100px;
    width: 100px;
    padding-top: 44%;  
}

.shipBottom img{
    rotate: 45deg;
    position: fixed;
    height: 100px;
    width: 120px;
    padding-left: 112%;
    padding-top: 6%;    
}

.rebel img {
    position: absolute;
    padding-left: 200px;
    display: flex;
    height: 130px;
    width: 130px;
}

.rebel h2{
    font-family: Star Jedi;
    color: blue;
    position: relative;
    padding-top: 50px;
    position: relative;
    padding-left: 210px;
}

.empire img {
    position: absolute;
    padding-left: 200px;
    display: flex;
    height: 130px;
    width: 130px;
}

.empire h2 {
    font-family: Star Jedi;
    color: red;
    display: flex;
    padding-top: 300px;
    position: relative;
    padding-left: 200px;
}

.cardRebel img{
    display: flex;
    padding-left: 400px;
    height: 200px;
    width: 150px;
}

.cardEmpire img{
    display: flex;
    padding-left: 400px;
    height: 200px;
    width: 150px;
    padding-top: 00px  ;
}