body{
    margin: 0, 0;
    background-color: black;
    background-image: url(https://wallpaper.dog/large/5549352.png);
}

.container{
    display: flex;
    flex-direction: row;

}

.titulo h1{
    padding-left: 50%;
    position: fixed;
    font-family: Star Jedi;
    color: #daa520;
}

.fundo {
    position: absolute;
    border-radius: 20px;
    background-size: contain;
    background-image: url(/CG/src/fundo2.jpg);
   /* background-image: url(https://criartesantacristina.files.wordpress.com/2011/10/fundo-azul.png); */
    background-repeat: repeat;
    height: 800px;
    width: 85%;
    margin-top: 80px;
    margin-left: 8%;

}

.shipLeft img{
    rotate: -20deg;
    position: fixed;
    height: 100px;
    width: 130px;    
}

.shipRight img{
    position: fixed;
    height: 100px;
    width: 100px;    
    padding-left: 94%;
}

.deathStar img{
    position: fixed;
    height: 100px;
    width: 100px;
    padding-top: 44%;  
}

.shipBottom img{
    rotate: 45deg;
    position: fixed;
    height: 100px;
    width: 120px;
    padding-left: 112%;
    padding-top: 6%;    
}